<div class="sideNav" id="sideNav">
  <ul class="navbar-nav">
    <div class="panel sideNav-div">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active-link']">Home</a>
      </li>
    </div>
    <div class="panel sideNav-div">
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#searchDrop" data-toggle="collapse" aria-expanded="false"
          aria-controls="searchDrop">Sector</a>
        <div class="collapse sideNav-div-child" id="searchDrop">
          <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a [routerLink]="['/sectorperformance']" [routerLinkActive]="['active-link']">
                <span>Performance</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/']" [routerLinkActive]="['active-link']">
                <span>Dashboard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </div>
    <div class="panel sideNav-div">
      <li class="nav-item">
        <a [routerLink]="['/']" [routerLinkActive]="['active-link']">
          Performance
        </a>
      </li>
    </div>
  </ul>
</div>
