<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a [routerLink]="['/home']" class="navbar-brand">
    <img
    src="assets/img/app_logo.png"
    [alt]="version"
    [title]="version"
  />
  Smart Trader
  <span class="logoText">{{ version }}</span>
  </a>

  <div class="navbar">
    <ul ngbNav class="navbar-nav mr-auto">
      <li [ngbNavItem] = "1" class="nav-item">
        <a ngbNavLink class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-home"></i>
          Home<span class="sr-only">(current)</span></a>
      </li>
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link" (click)="false">
          <i class="fa fa-line-chart"><span class="badge badge-primary"></span></i>
          Sector Analysis
        </a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/sectordashboard']">Sector Dashboard</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/sector']">Sector Performance</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link" (click)="false">
          <i class="fa fa-area-chart"><span class="badge badge-primary"></span></i>
          Industry Analysis
        </a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/industrydashboard']">Dashboard</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/industry']">Performance</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link" (click)="false">
          <i class="fa fa-bar-chart-o"><span class="badge badge-primary"></span></i>
          Stock Analysis
        </a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/delivery']">Stock Delivery</a>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/allStocks']">All Stocks</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/watchlist']">Watchlist</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link" (click)="false">
          <i class="fa fa-television"><span class="badge badge-primary"></span></i>
          Management
        </a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/corporateActions']">Corporate Actions</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/trades']">Trades</a>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/portfolio']">Portfolio</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/backgroundJobs']">Background Jobs</a>
          <a ngbDropdownItem class="dropdown-item" [routerLink]="['/fileCategory']">File Category</a>
        </div>
      </li>

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
