<p-toast></p-toast>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<div class="row" style="margin-top: 5px">
  <div class="col-md-7">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div class="col-md-1"><span>Date: </span></div>
  <div class="col-md-2">
    <p-calendar
      [disabledDays]="[0, 6]"
      [(ngModel)]="searchDate"
      [showIcon]="true"
      inputId="icon"
    ></p-calendar>
  </div>
  <div class="col-md-2">
    <p-button (onClick)="searchRecords()" label="Search"></p-button>
    <p-button (onClick)="clear()" label="Clear"></p-button>
  </div>

</div>
<div class="card">
  <p-table
    #dt1
    [value]="deliveries"
    styleClass="p-datatable-gridlines"
    [loading]="loading"
    [showCurrentPageReport]="true"
	  [globalFilterFields]="['symbolName','industry','sector','reason']">
  >
  <ng-template pTemplate="caption">
     <input #box pInputText type="text" (input)="dt1.filterGlobal(box.value, 'contains')" placeholder="Search keyword" />
	</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="date">Date<p-sortIcon field="date"></p-sortIcon></th>
        <th pSortableColumn="symbolName">Stock<p-sortIcon field="symbolName"></p-sortIcon></th>
        <th pSortableColumn="sector">Sector<p-sortIcon field="sector"></p-sortIcon></th>
        <th pSortableColumn="delRatio">
          <div class="p-d-flex p-jc-between p-ai-center">
            DelRatio
            <p-columnFilter type="numeric" field="delRatio" display="menu"></p-columnFilter>
          </div>
          <p-sortIcon field="delRatio"></p-sortIcon></th>
        <th pSortableColumn="volRatio">VolRatio<p-sortIcon field="volRatio"></p-sortIcon></th>
        <th pSortableColumn="percentage">%<p-sortIcon field="percentage"></p-sortIcon></th>
        <th pSortableColumn="weekly">Weekly<p-sortIcon field="weekly"></p-sortIcon></th>
        <th pSortableColumn="monthly">Monthly<p-sortIcon field="monthly"></p-sortIcon></th>
        <th pSortableColumn="last">Price<p-sortIcon field="last"></p-sortIcon></th>
        <th pSortableColumn="deliveryQty">Delivery Qty<p-sortIcon field="deliveryQty"></p-sortIcon></th>
        <th pSortableColumn="reason">Reason<p-sortIcon field="reason"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-delivery let-rowIndex="rowIndex">
      <tr>
        <td>{{ delivery.date | date: "yyyy-MM-dd" }}</td>
        <td style="cursor: pointer; text-decoration: underline;" >
        <span (click)= "showStock(delivery.symbolName)">{{ delivery.symbolName }}</span>
        <button pButton pRipple type="button"
        icon="pi pi-chart-bar"
        class="p-button-rounded p-button-secondary p-button-text"
        (click)="openChart(delivery)">
      </button>
    </td>
        <td style="cursor: pointer; text-decoration: underline;" (click)= "showAllStocks(delivery.sector, delivery.date,1)">{{ delivery.sector }}</td>
        <td>{{ delivery.delRatio }}</td>
        <td>{{ delivery.volRatio }}</td>
        <td
          [ngClass]="{
            positive: delivery.percentage > 0,
            negative: delivery.percentage < 0
          }"
        >
          {{ delivery.percentage }}%
        </td>

        <td
          [ngClass]="{
            positive: delivery.weekly > 0,
            negative: delivery.weekly < 0
          }"
        >
          {{ delivery.weekly }}%
        </td>
        <td
          [ngClass]="{
            positive: delivery.monthly > 0,
            negative: delivery.monthly < 0
          }"
        >
          {{ delivery.monthly }}%
        </td>

        <td class="right-aligned">
          {{ delivery.last }}
        </td>

        <td class="right-aligned">
          {{ delivery.deliveryQty }}
        </td>
        <td>{{ delivery.reason }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
